
#######@author: Ezekiel Kalama SIT/0002/2015######

1. Tensorflow -- pip install tensorflow
2. Numpy -- pip install numpy
3. flask ---pip install flask
4. SQLAlchemy -- pip install flask-sqlalchemy
5. Marshmallow -- pip instal flask-marshmallow
6. opencv2 -- pip install opencv-python